@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@1&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://iili.io/JEQ565x.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bodoni Moda', serif;
    overflow: hidden;
}
.container1{
    perspective: 1000px;
    display: none;
}
.card{
    width: 280px;
    height: 360px;
    position: absolute;
    top: 100px;
    left: 230px;
    transition: 2s;
    transform-style: preserve-3d;
}
.card:hover{
    transform: rotateY(180deg);
}
.block{
    position: absolute;
    top:200px;
    right: 600px;
    perspective: 800px;
}
.outside,.inside{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    text-align: center;
    padding: 1.5rem;
}
.outside{
    background-color: blanchedalmond;
    box-shadow: inset 0 5px 10px rgba(0,0,0,0.5);
    position: absolute;
    backface-visibility: hidden;
}
.outside h1{
    font-size: 3rem;
    font-weight: bold;
    color: salmon;
    margin-bottom: 30px;
}
.inside{
    background-color: rgb(255, 244, 79);
    box-shadow: inset 0 5px 10px rgba(0,0,0,0.5);
    transform: rotateY(180deg);
}
.inside h3{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
}
.frames{
    width: 400px;
    height: 150px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 0.8rem;

    transform: rotateY(-230deg) rotateX(20deg);
    position: absolute;
}
.frames img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.frames p{
   font-size: 20px;
   font-weight: bold;
   transform: rotateY(180deg);
}
.frames:nth-child(1)
{
    top:-110px;
    z-index: -1;
    background-color: coral;
}
.frames:nth-child(2){
    background-color: goldenrod;
}
.frames:nth-child(3)
{
    top:100px;
    background-color: burlywood;
}
















.container {
    height: 99%;
    text-align: center;
    padding: 20px;
    background: linear-gradient(to bottom right, rgb(16, 198, 222), rgb(239, 16, 225));
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;

  }
  
  #countdown {
    font-size: 10em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3e3e3e;
    margin-top: 60px;
  }
  
  .balloons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .balloon {
    width: 50px;
    height: 80px;
    border-radius: 200px 200px;
    position: relative;
    margin: 0 10px;
    animation: floatUp 3s infinite alternate ease-in-out;
    text-align: center;

  }
  .balloon h4{
    color: white;
    font-size: 30px;
    z-index: 1;
    position: relative;
    margin-top: 15px;
  }
  
  .balloon::before {
    content: "";
    width: 10px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  @keyframes floatUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }
  
  .balloon1 {
    animation-delay: 0.5s;
  }
  
  .balloon2 {
    animation-delay: 1s;
  }
  
  .balloon3 {
    animation-delay: 1.5s;
  }
  .balloon4 {
    animation-delay: 2s;
  }
  
  .balloon5 {
    animation-delay: 2.5s;
  }
  
  .balloon6 {
    animation-delay: 3s;
  }
  .balloon7 {
    animation-delay: 3.5s;
  }
  
  .balloon8 {
    animation-delay: 4s;
  }
  
  .balloon9 {
    animation-delay: 4.5s;
  }

  
  .video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 2;
  }
  
  #birthdayVideo {
    object-fit: cover;
  }
  

  
    #heart {
      position: relative;
      width: 100px;
      height: 90px;
    }
    #heart:before,
    #heart:after {
      position: absolute;
      content: "";
      left: 50px;
      top: 0;
      width: 50px;
      height: 80px;
      background: red;
      border-radius: 50px 50px 0 0;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
    }
    #heart:after {
      left: 0;
      transform: rotate(45deg);
      transform-origin: 100% 100%;
    }
